@import '../../index.css';

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 30px;
}

.content {
  display: flex;
  gap: 1.25rem;
}

.marketplace {
  position: relative;
}

.item-wrapper {
  height: 80vh;
  padding-right: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.item-wrapper::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

.item-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.item-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
}

.item-wrapper:hover::-webkit-scrollbar-thumb {
  background: var(--primary-light);
}

.text-center {
  width: 100%;
  text-align: center;
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}
